<% if signed_in? %>

  <h3><%= "Hello #{current_user.name}," %></h3>
  <h3>Add a project to start tracking your hours!</h3>

<% else %>

  <h1>Sign in</h1>
  <%= render partial: '/sessions/form' %>

<% end %>
